<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div th:fragment="nav" >

            <nav class="navbar bd-navbar is-link" style="background-color: #000080; height: 100px">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">

                        <span class="contracts-hub-logo">CONTRACTS HUB</span>
                    </a>
                </div>

                <div  class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/">
                            <span class="icon">
                                <i class="fas fa-home"></i>
                            </span>

                            <span>Home</span>
                        </a>

                        <a class="navbar-item " href="/">
                            <span class="icon">
                                <i class="fas fa-upload"></i>
                            </span>

                            <span>Upload</span>
                        </a>




                    </div>


                </div>
            </nav>  




        </div>
    </body>
</html>
