<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="nav" >


            <nav class="navbar bd-navbar is-link contracts-reader-nav" style="background-color: #3e5780; height: 80px">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <span class="contracts-hub-logo">CONTRACT HUB</span>
                    </a>

                    <div class = "navbar-burger burger" data-target="navbarExample">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>




                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/">
                            <span class="icon">
                                <i class="fas fa-home"></i>
                            </span>

                            <span>Home</span>
                        </a>

                        <a class="navbar-item " href="/upload-form">
                            <span class="icon">
                                <i class="fas fa-upload"></i>
                            </span>

                            <span>Upload</span>
                        </a>

                        <a class="navbar-item " href="/user">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>

                            <span>User</span>
                        </a>


                    </div>


                </div>
            </nav>




        </div>
    </body>
</html>
