.highlight { background-color:#FFFFD4; }
.filename { font-style: italic; }
.contract-snippet { font-family: Georgia, serif; padding: 10px; }
.contracts-hub-logo { font-size:x-large; border-style: solid; border-width: 1px; padding-left: 10px; padding-right:10px; padding-top:6px; padding-bottom:6px; }
.footer { background-color: #fff;font-size: smaller; }
.is-error {color: red}

