<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/nav :: nav">...</div>
<section class="container section">

    <h1 class="title">
        Analysis
    </h1>
    <div>File: <span class="filename" th:text="${filename}"/></div>
    <br/>


    <nav class="tabs is-boxed ">
        <div class="container">
            <ul>
                <li class="tab is-active" onclick="openTab(event, 'summary')"><a>Summary</a></li>
                <li class="tab " onclick="openTab(event, 'obligations')"><a>Obligations</a></li>
                <li class="tab " onclick="openTab(event, 'durations')"><a>Duration</a></li>
                <li class="tab" onclick="openTab(event, 'raw')"><a>Raw</a></li>

            </ul>
        </div>
    </nav>


    <div class="container">

        <div id="summary" class="content-tab">
            <div th:each="section : ${summary.sections}">
                <h2 class="subtitle" th:text="${section.title}"/>
                <nav class="panel contract-snippet">
                    <div th:each="paragraph : ${section.resultsParagraphs}">
                        <p th:utext="${paragraph}"/><br/>
                    </div>
                </nav><br/>

            </div>
        </div>

        <div id="obligations" class="content-tab">
            <div th:each="mapEntry : ${obligationsByParty.sortedObligations}">
                <h2 class="subtitle" th:text="${mapEntry.key}"/>
                <nav class="panel contract-snippet">
                    <div th:each="obligation : ${mapEntry.value}">
                    <p th:utext="${obligation.contextHighlighted}"/><br/>
                </div>
                </nav><br/>
            </div>
        </div>

        <div id="durations" class="content-tab">
            <div th:each="duration : ${durations}">
                <h2 class="subtitle">Duration = <span th:text="${duration.period.months}"/> months</h2>
                <nav class="panel contract-snippet">
                    <div th:each="paragraph : ${duration.contextHighlighted}">
                        <p th:utext="${paragraph}"/><br/>
                    </div>
                </nav><br/>

            </div>
        </div>

        <div id="raw" class="content-tab" style="display:none">
            <pre><div th:text="${raw}"/></pre>
        </div>

    </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>
