<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<section class="container section">


    <nav class="panel">
        <section class="section content">

            <table class="table is-striped">
                <thead>
                <tr>
                    <th>Contract</th>
                    <th>Start date</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="contract : ${contracts}">
                        <td th:text = "${contract.name}"/>
                        <td th:text = "${contract.startDate}"/>
                    </tr>
                </tbody>
            </table>


        </section>
    </nav>
</section>

<div th:replace="fragments/footer :: footer"></div>


</body>
</html>
