<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/nav :: nav">...</div>
<section class="container section">

 Welcome:
    <div> Name =  <span th:text="${name}"/></div>
    <div> Email =  <span th:text="${email}"/></div>
    <div> Id =  <span th:text="${id}"/></div>
    <div> IDToken =  <span th:text="${idtoken}"/></div>


</section>
<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>
